/*
	Tema: Itaú
	Componente: BoxError
*/

@import "@sass/variables";
@import "@sass/fonts";
/* Variables de estilo Tema Itaú */

    .box_error{
        font-family:  Arial;
        padding: 70px;
        background:   $gray-100;
        margin: 92px;
        border: 1px solid $gray-200;
        background-color: $white;

        .icon{
            font-size: 62px;
        }

        .title_error{
            padding-top: 15px;
            color: $red;

            h6{
                position: relative;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .title_error_insurance{
            padding-top: 15px;
            color: $blue-sparkly;

            h6{
                position: relative;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .content_error{
            color: $gray-800;
            font-size: 13px;
            padding-top: 10px;
            font-family: "ItauText";
            margin: 0px 12%;
            text-align: left;
            span{
                font-weight: bold;
            }
        
        

        }
        .box_error_button{
            padding-bottom: 10px;
            min-height: 30px;
            font-family: "ItauText";
            
            .btn {
                background-color: $white;
                border-color: $gray-200;
                color: $blue-sparkly;
                font-size: 14px;
            }
        }
        .link_aqui{
            color: $blue-sparkly;
            cursor: pointer;
            text-decoration: underline;
        }

        //Clase especial para no afectar a poliza
        .centrar_error{
            text-align: center;
        }
    }
