/*
	Tema: Itaú
	Componente: Boxinformation
*/

@import "@sass/variables";
@import "@sass/fonts";
/* Variables de estilo Tema Itaú */

.box_information {
    font-family: Arial;
    padding: 70px;
    background: $gray-100;
    margin: 92px;
    border: 1px solid $gray-200;
    background-color: $white;
    margin-top: 0px;
    .icon {
        font-size: 62px;
        color: $orange;
    }
    .icon_mala {
        position: absolute;
        left: 264px;
        font-size: 2.5rem;
        top: 4%;
        &:after{
            color: aqua;
        }
    }

    .title_information {
        color: $blue-sparkly;
        h6 {
            position: relative;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .content_information {
        color: $gray-800;
        font-size: 13px;
        padding-top: 10px;

        span {
            font-weight: bold;
        }
    }
    .box_information_button {
        padding-bottom: 10px;
        min-height: 30px;

        .btn {
            background-color: $white;
            border-color: $gray-200;
            color: $blue-sparkly;
            font-size: 15px;
            line-height: 25px !important;
        }
    }
}
