/*
	Tema: Itaú
	Componente: BoxError
*/

@import "@sass/variables";
@import "@sass/fonts";
/* Variables de estilo Tema Itaú */

.iconDownload{
    position: absolute;
    left: 70%;
    margin-top: 10px;
    margin-bottom: 80px;
}
.titleDownload{
    text-align: center;
    color: #3c4245;
    font-size: 13px;
    font-family:  Arial;
    padding-top: 10px;
    margin: 0px 0px 0px 300px;
    h6{
        position: relative;
        font-size: 15px;
    }
    .a{
        margin-right: 21px;
        font-size: 15px;
       
    }
    .p{
        font-size: 12px;
        margin-right: 24px;
    }
    
}

