/*
	Tema: Itaú
	Componente: BoxError
*/

@import "@sass/variables";
@import "@sass/fonts";
/* Variables de estilo Tema Itaú */
.imgCompany{
    padding-top: 5px;
    display: flex; 
    justify-content: right;
}
.title_error{
    padding-top: 0px;
    font-family: "ItauText";

}
.title_error_insurance{
    padding-top: 0px;
    font-family: "ItauText";
}
.email{
    font-family: "ItauText";

    .input{
        border-radius: 5px;
        border: solid 1px #d6d6d6;
        height: 25px;
        padding: 5px;
        width: 290px;
        margin-left: 5px;
    }
    .error{
        font-family: "ItauText";
        font-size: 12px;
        margin-left: 60px;
    }
}

.btn-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

    .box_error_noinsurance{
        font-family: "Arial";
        padding: 70px;
        background:   $gray-100;
        border: 1px solid $gray-200;
        background-color: $white;

        .icon{
            font-size: 62px;
        }

        .title_error{
            padding-top: 0px;
            color: $red;

            h6{
                position: relative;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .title_error_insurance2{
            padding-top: 0px;
            color:#007ab7;
            font-family: "Arial";
            

            h6{
                position: relative;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .content_error{
            color: $gray-800;
            font-size: 13px;
            padding-top: 10px;
            font-family: "ItauText";
            margin: 0px 0px 0px 113px;
            text-align: left;
            span{
                font-weight: bold;
            }
        
        

        }
        .box_error_button{
            padding-bottom: 10px;
            min-height: 30px;
            font-family: "ItauText";
            
            .btn {
                background-color: $white;
                border-color: $gray-200;
                color: $blue-sparkly;
                font-size: 14px;
            }
        }

        //Clase especial para no afectar a poliza
        .centrar_error{
            text-align: center;
        }
    }
