@import "@sass/variables";
@import "@sass/fonts";

// correcciones
#main {
  .box-insurance-query {
    @each $name, $value in $colors {
        .nav-item.#{$name} {
          color: $graphite_black;
          font-weight: 600;
          border-top: 3px solid $value;
        }
        .nav-link.active.#{$name} {
          color: $value;
          
        }
    }

    .noRecords{
      color: $gray-500 !important;
    }
  }
}
