/*
	Tema: Itaú
	Componente: BoxError
*/
@import "@sass/variables";
@import "@sass/fonts";

/* Titulo Seguro */
.title_company {
    font-weight: 16px;
    text-transform: capitalize;
    margin-top: 3%;
    font-weight: bold;
    font-family:  "ItauText";
}

.box_client_message{
    font-family:  "ItauText";
    padding: 50px;
    background:   $gray-100;
    border: 1px solid $gray-200;
    background-color: $white;
    text-align: center;
    border-radius: 5px;
    
    .title_error{
        padding-top: 0px;
        
        h6{
            position: relative;
            font-size: 15px;
        }
    }
    
    .p{
        font-size: 10px;
        margin: 0px 0px 0px 57px;
    }
}