@import "@sass/variables";
@import "@sass/fonts";

/* Titulo Seguro */
.title_sure {
    font-weight: 16px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 3%;
    font-weight: bold;
}
/* Botones eliminar y volver */
.btn-eliminar {
    background-color: white;
    color: gray !important;
    border: 2px solid #cdcdcd !important;
    &:hover {
        background-color: #f0ececda !important;
        color: $gray-250;
    }
}
.btn-derecha {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-derecha-volver {
    display: flex;
    justify-content: right;
    width: 100%;
}

.btn-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

#main {
    .box_info {
        border-radius: 8px;
        background-color: $gray-250;
        font-family: "ItauText";
        p {
            color: $blue-sparkly;
            font-size: 12px;
        }
    }
    .cardInfo {
        height: 93%;
        border-radius: 8px;
        .card-image {
            float: right;
        }
        .card-image:after {  
            content: attr(alt);
            position: absolute;
            top: 0;
            left: 30%;
            width: 70%;
            height: 100%;
            background-color: #ffffff;
        }
        .icon-x2 {
            font-size: 2.5rem;
            font-family: "itaufonts_master_24px_v1";
            color: $amber;
            font-weight: 400;
            line-height: 1.5;
        }
        .icon-x3 {
            font-size: 3rem;
            font-family: "itaufonts_master_24px_v1";
            color: $amber;
            font-weight: 400;
            left: 0;
        }
        .card-title {
            font-size: 14px;
            font-family: "ItauText";
            color: $color-text;
            font-weight: bold;
        }
        .card-text {
            font-size: 11px;
            font-family: "ItauText";
            color: $gray-640 !important;
            font-weight: 400;
        }

        .card-text-white {
            color: $gray-050 !important;
            text-align: center;
            a {
                color: $gray-050 !important;
            }
        }

        .card-h4 {
            font-size: 16px;
            text-transform: capitalize;
            font-weight: bold;
        }

        .card-h3 {
            font-size: 14px;
        }

        .card-content-bordered {
            border: 2px solid $gray-110;
            border-radius: 3px;
            padding: 8px;
        }

        .card-content-bordered-top {
            border: 2px solid $gray-110;
            border-radius: 5px;
            padding: 8px;
        }

        .card-change-page {
            cursor: pointer;
        }

        .card-text-pdf {
            padding: 5px;
            border-radius: 3px;
            color: $blue;
            font-weight: bold;
            border: 1px solid $blue;
        }

        .card-text-bold {
            font-weight: bold;
        }

        .text-capitalize {
            text-transform: capitalize;
        }
        .lbl_detail {
            color: $orange;
            margin-top: 3%;
            width: 93%;
            text-align: left;
        }
        .button_disabled {
            background-color: $gray-100;
            color: $gray-640;
            border: 1px solid $gray-640 !important;
            margin: 7px;
            width: 148px;
            height: 40px;
            text-align: center;
            opacity: 0.65;
            cursor: default;
        }
        /* Lista para comprobante */
        .list-orange-v{
            list-style: none;
            padding-left: 10px;
            li{
                margin-bottom: 0px;
                font-size: 14px;
                position: relative;
            }
            li:before{
                content: "";
                display: block;
                width: 4px;
                height: 4px;
                background: $orange;
                position: absolute;
                top: 6px;
                left: -10px;
                border-radius: 50%;
            }
        }
    }

    .atencion{
        color: #EC7000;
        cursor: pointer;

    }
}
