@import "@sass/variables";
@import "@sass/fonts";

// correcciones
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input.select-search__input {
  font-family: "ItauText" !important;
  color: #43484C !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

input#birthdate {
  font-family: "ItauText" !important;
  color: #43484C !important;
  background-color: $white;
}

input#phone {
  font-family: "ItauText" !important;
  color: #43484C !important;
}

input#email {
  font-family: "ItauText" !important;
  color: #43484C !important;
}

input#confirmemail {
  font-family: "ItauText" !important;
  color: #43484C !important;
}

input#address {
  font-family: "ItauText" !important;
  color: #43484C !important;
  font-size: 16px !important;
}

input#prefixPhone {
  font-family: "ItauText" !important;
  color: #43484C;
}
// correcciones
#main {
  .datePerson {
    position: relative;
    i.icon.icon-itaufonts_calendario {
      position: absolute;
      right: 8%;
      top: -2%;
    }
  }
  .form_data {
    h5 {
      font-size: 18px;
      font-family: "ItauText";
      color: $gray-700;
      font-weight: bold;
    }
    .box_info {
      font-size: 12px;
      padding-right: 3%;
      margin-bottom: 2%;
      margin-left: 7%;
      h6 {
        color: $blue-sparkly;
        font-size: 12px;
        font-weight: bold;
        font-family: "ItauText";
        margin-bottom: 4px;
        margin-top: 17px;
      }
      p {
        color: $blue-sparkly;
        font-size: 12px;
        font-weight: 400;
        font-family: "ItauText";
      }
    }
    h2 {
      font-size: 16px;
      font-family: Arial;
      color: $amber;
      font-weight: bold;
    }
    label {
      color: $gray-700;
      font-size: 14px;
      font-weight: 400;
      font-family: "ItauText";
      margin-top: 22px;
      margin-bottom: 0px;
    }
    .info {
      color: $gray-700;
      font-size: 12px;
      font-weight: 400;
      font-family: "ItauText";
      margin: 3% 4% 3% 6%;
    }
    .icon {
      position: absolute;
      right: 15%;
      font-size: 24px;
      margin-top: 50px;
      color: #43484C;
    }
  }
  input#prefixPhone:disabled {
    color: #B4B4B4;
    background: #FAFBFC;
    //font-size: 14px;
    font-family: Arial;
    font-weight: 400;
  }
}
