@import "@sass/variables";
@import "@sass/fonts";

 #main {
    .reminder_box{
        border: 1px solid $blue-sparkly;
        border-left: 5px solid $blue-sparkly;
        border-radius: 0px;
        padding: 16px 16px 0px 16px;
        margin-bottom: 2%;
        flex-direction: row;
        .icon{
            font-size: 32px;
        }
        p{
            margin-left: 1%;
            font-size: 13px;  
        }
    }
 }
 