/*
    Tema: Itaú
    Componente: TopBanner
 */
 @import "@sass/variables";
 @import "@sass/fonts";
 
 /* Variables de estilo Tema Itaú */
 
 #main {
    .banner_top_image 
    {
        background-color: $white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        margin: 0px -15px 20px;
        padding: 0px 0px 20px 55px;
        
         .row
        {
            padding: 8px;
 
            .banner_top_image_content_title{
                padding-top: 5px;  
                h5 {
                    font-size: 24px;
                    color: $gray-700;
                    min-height: 24px;
                    font-weight: bold;
                    margin-bottom: 0px;
                    font-family: 'ItauText';
                }
            }
            .banner_top_image_content_subtitle{
                padding-top: 5px;  
                h5 {
                    font-size: 16px;
                    color: $gray-700;
                    min-height: 24px;
                    
                }
            }
 
            .banner_top_image_content_footer {
                .btn {
                    background: $orange;
                    color: $white;
                    border-color: $orange;
                    text-decoration: none;
                    min-width: 147px;
                    font-family: 'ItauText';
                    
                }
                a{
                    padding-left: 25px;
                    color: $blue-sparkly;
                    text-decoration: underline;
                    cursor: pointer;
                    size: 14px !important;
                    font-size: 14px;

                    font-family: 'ItauText';
                }
            }    
        }
    }
 }