/*
        Tema: Itaú
        Componente: FormCarData
    */

    @import "@sass/variables";

    /* Variables de estilo Tema Itaú */

    #main {

    .form_housing_data {
        font-family: Arial !important;
        background-color: $white;
        margin-bottom: 20px;

        .row-inner{
            padding: 14px 14px 0 14px;
            .date{
                display: flex;
                flex-wrap: wrap;
               
                label{
                    padding: 0px;
                }

                .datePickerData{
                    padding-left: 14px;
                    border: 1px solid $gray-400;
                    height: 40px;
                    width: 89%;
                    color: $gray-700;
                    margin-right: -8px;
                }

                .icon{
                    position: absolute;
                    right: 58%;
                    font-size: 24px;
                    margin-top: 56px;
                    color: $gray-800;
                }

                .react-datepicker-popper[data-placement^="bottom"]{
                    z-index: 1000;
                }
            }

            h6{
                color: $gray-700;
                text-transform: uppercase;
                margin-bottom: 0px;
            }
            .select-search{
                margin-left: 19%;
            }
            .column_celular{
                padding-right: 81px;
                padding-left: 0px;
            }
            .input_num{
                padding-left: 0px;
                margin-right: -5px;
            }
            .input_num.col-5 {
                padding-right: 31px;
            }
            .label_input{
                margin-left: 19%;
            }
            
            .form_housing_data_column_title{
                margin-bottom: 15px;
                font-size: 16px;
                color: $amber;
                font-weight: bold;
                text-transform: lowercase;
                font-family: Arial;
                &:first-letter {
                    text-transform: uppercase;
                }
                
            }
            .input-group-prepend{
                margin-right: 3px;
            }
            .textPicker{
                display: block;
            }
            
            .form_housing_data_title{

                padding-top: 15px;
                padding-left: 49px;

                .num_data{
                    color: $white;
                    font-weight: bold;
                    font-family: Arial;
                    background-color: $orange;
                    border-radius: 50%;
                    padding: 6px 11px;
                    margin: 0 11px 0 -34px;
                    font-size: 17px;
                }

                .title_data{
                    font-weight: bold;
                    color: $gray-700;
                    font-size: 18px;
                    margin-left: 7px;
                    margin-top: 10px;
                }       
            }
            .box_info{
                border-radius: 8px;
                background-color: $gray-250;
                padding: 10px 25px;
                margin: 18px 57px 0px 51px;

                p{
                    color: $blue-sparkly;
                    font-size: 12px;
                    margin: 0px 4px 2px 0px;
                    font-weight: 400;
                }
                b{
                    color: $blue-sparkly;
                    font-size: 12px;
                    margin: 0px 4px 2px 0px;
                    font-weight: bold;
                }
            }

            .form_housing_data_row{

                padding: 17px 0px 0px 0px;
                
                .form_housing_data_column{
                    line-height: 21px;
                    padding-left: 16px;
                    padding-right: 16px;

                    .title-label{
                        font-size: 14px;
                        color: $gray-650;
                        padding-top: 26px;
                        margin-bottom: 3px;
                        font-weight: 400;
                    }
                    .error-message {
                        margin-top: 8px;
                    }
                    .factura{

                        .title_factura{
                            font-size: 14px;
                            font-weight: bold;
                            counter-reset: $gray-700;
                            margin-top: 14px;    
                        }

                        p{
                            font-size: 14px;
                            color: $gray-800;
                            font-weight: 400;
                        }

                        .button_adjuntar{
                            background-color: $white;
                            color: $gray-700;
                            border-color: $gray-700;
                            border-radius: 3px;
                            padding: 6px 21px 6px 21px;
                            font-size: 12px;
                            max-width: 100px;
                        }

                        .text_formato{
                            font-size: 13px;
                            display: block;
                            font-style: italic;
                            padding-top: 8px;
                            color: $gray-700;
                            font-weight: 400;
                            font-family: Arial;
                        }
                    }

                    .celular{
                        padding-left: 2px;
                    }

                    .form-control{
                        padding-top: 3px;
                        padding-bottom: 0px;
                        height: 37px;
                        width: 98%;
                        font-family: Arial;
                    }
                    .form-control-calle{
                        padding-top: 3px;
                        padding-bottom: 0px;
                        height: 37px;
                        width: 90%;
                    }         
                }
            }

            .text_footer{
                font-size: 12px;
                text-align: justify;
                padding: 0px 57px 5px 54px;
                color: $gray-650;

                .title_footer {
                    color: #42484C;
                    font-size: 14px;
                    margin-top: 10px;   
                    font-weight: bold;           
                }
                p{

                    font-weight: 400;
                    color:$gray-650;
                    font-size: 14px;
                    margin-top: 10px;
                } 
                label{
                    color: $gray-650;
                }             
            }

            .text_sticker{
                margin: 0px 45px 48px 45px;
                font-size: 14px;
                font-weight: bold;
                text-align: justify;
                padding: 16px 15px 0px 20px;
                border-style: solid;
                border-width: 1px;
                border-left-width: 10px;
                display:flex;
                flex-direction:unset;
                border-color:$blue-sparkly;
                p{
                    font-size: 14px;
                    font-family: Arial;
                    font-weight: 400;
                    color: #43484C;
                    line-height: 1.429;
                }
                span {
                    font-size: 25px;
                    margin-top: 7px;
                    margin-right: 15px;
                }
                .title_footer {
                    font-weight: bold;
                    color: $gray-800;
                    font-size: 14px;
                    margin-top: 10px;
                }
            }

            .form_housing_data_footer{
                padding: 0px 50px 11px 50px;
                text-align: right;

                .button_footer{
                    border-color: $gray-300;
                    background-color: $white;
                    color: $blue-sparkly;
                    margin: 7px;
                    width: 19%;
                    text-align: center;
                }
                .button_footer_next{
                    border-color: $gray-300;
                    background-color: $white;
                    color: $gray-500;
                    margin: 7px;
                    width: 19%;
                    text-align: center;
                }
            }

            .form_internal_housing{
                background-color: $white;
                border-radius: 10px;
                box-shadow:0px 0px 5px 1px $gray-200;
                margin: 0px 44px 17px 44px;
                .row-inner-house{
                    padding: 14px 14px 24px 14px;
                }
            }

            .radio-error{
                color: #B71C1C !important;
                font-family: Arial;
                font-size: 11px !important;
            }
            .check-error{
                color: #B71C1C !important;
                font-family: Arial;
                font-size: 12px !important;
            }

            .form_internal_declaration{
                background-color: $white;
                margin: 0px 60px 0px 60px;

                .data_row_declaration{
                    padding: 15px 5px 0px 5px;
                    border-radius: 7px;
                    width: 100%;
                    display:flex;
                    flex-direction:row;
                    align-content: center;
                    justify-content: space-between;
                    font-size: 14px;
                    color: $gray-650;
                    background-color: darken($color: $gray-100, $amount: 2);

                    .data_column_question{
                        width: 70%;
                        padding-left: 7px; 
                        margin-bottom: 5px;
                    }
                    .data_column_answer{
                        width: 21%;
                    }
                    label{
                        font-size: 14px;
                        color: $gray-700;
                        margin-bottom: 3px;
                        text-transform: lowercase;
                            &:first-letter {
                                text-transform: uppercase;
                                }
                    }
                    .form_housing_data_check{
                        margin-left: 30px;
                        line-height: 0;
                      
                        .form_check_text{
                            font-size: 14px;
                            color: $gray-650;
                            margin-left: 10px;
                            text-transform:none;
                            margin-top: 5px;
                            font-weight: 400;
                            margin-right: 25%;
                            line-height: 1.3;
                        }
                    }
                    .form_housing_data_radio{
                        height: 15px;
                        display:flex;
                        flex-direction:row;
                        align-content: center;
                        justify-content: space-between;
                       
                        .form_check_text{
                            font-size: 14px;
                            color: $gray-700;
                            margin-left: 5px;
                            margin-right: 50px;
                            text-transform:none;
                        }
                    }
                }
            }
        }
    }

    //checkbox-style
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;  
    }
  
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        margin-left: 13px;
        background-color: #eee;
        background-color: $white;
        border-radius: 15%;
        border: 1px solid $gray-500;
        margin-top: 2px;
    }
  
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    .container input:checked ~ .checkmark {
        background-color: $orange;
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        ;
    }
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    
    .container .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    //checkbox-style
    .container_radio {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    
    }

    .container_radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

    }
    
    .checkmark_radio {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        margin-left: 13px;
        background-color: #eee;
        background-color: $white;
        border-radius: 50%;
        border: 1px solid $gray-500;
    }
    .checkmark_radio.err{
        border: 1px solid #B71C1C;
    }
    .checkmark.err{
        border: 1px solid #B71C1C;
    }

    .container_radio:hover input ~ .checkmark_radio {
        background-color: #ccc;
    }
    
    .container_radio input:checked ~ .checkmark_radio {
        background-color: $orange;
    }
    
    .checkmark_radio:after {
        content: "";
        position: absolute;
        display: none;

    }
    
    .container_radio input:checked ~ .checkmark_radio:after {
        display: block;
    }
    
    .container_radio .checkmark_radio:after {
        left: 4px;
        top: 4px;
        width: 8px;
        height: 8px;
        border: 4px solid white;
        border-width: 0 2px 2px 1;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        border-radius: 100%;
    }
}