/*
	Tema: Itaú
	Componente: FormPlansHome
 */

 @import "@sass/variables";
 @import "@sass/fonts";
 
 /* Variables de estilo Tema Itaú */
 
 #main {
    .form_plans_home{
        margin: 0px 40px;
        .form_plans_image{
            h5{
                color: $color-text;
                font-weight: 400;
                font-family: 'ItauText';
                font-size: 18px;
                margin-bottom: 16px;
            }
            .column_img_vivienda{
                margin-left: 9%;
                padding-right: 41px;
                img{
                    margin-left: 6%;
                }
                h5{
                    font-size: 18px;
                    color: #5A6978;
                    font-weight: 400;
                    margin-top: 30px;
                    margin-left: 43px;
                }
                label{
                    color: $color-text;
                    margin-left: 36%;
                    display: flex;
                    font-size: 18px;
                    font-weight: 400;
                }
                p{
                    font-size: 16px;
                    color: #546576;
                    font-weight: 400;
                    text-align: left;
                }
            }
            .column_img_contenido{
                
                img{
                    margin-left: 6%;
                }
                h5{
                    font-size: 18px;
                    color: #5A6978;
                    font-weight: 400;
                    margin-top: 30px;
                    margin-left: 43px;
                }
                label{
                    color: $color-text;
                    margin-left: 36%;
                    display: flex;
                    font-size: 18px;
                    font-weight: 400;
                }
                p{
                    font-size: 16px;
                    color: #546576;
                    font-weight: 400;
                    text-align: left;  
                }
            }      
        }
        .form_plans_title{
            padding: 22px;
            .icon_data{
                background-color:$orange;
                border-radius: 100%;
                width: 32px;
                height: 32px;
                margin-right: 7px;
                margin-left: -12px;   
            }
            .num_data{
                position: absolute;
                margin-top: 6px;
                color:$white;
                font-weight: bold;
                font-family: Arial;
            }
            h5{
                font-weight: bold;
                color: $gray-700;
                font-size: 18px;
                margin-left: 7px;
                margin-top: 10px;
                text-transform: lowercase;
                &:first-letter {
                    text-transform: uppercase;
                }
            }
        }
        .form_plans_check{
            margin-bottom: 37px;
            h6{
                color: $orange;
                font-size: 18px;
                font-weight: bold;
                margin-top: 20px;
            }
            .title{
                color: $gray-700 !important;
            }
            label{
                font-size: 14px;
                color: $gray-900;
                text-align: justify;
                font-weight: 400;
                font-family: 'ItauText';
            }
            p{
                font-size: 16px;
                color: $gray-700;
                font-weight: 400;
                margin-top: 15px;
                margin-bottom: 5px;
                line-height: 20px;
                text-align: justify;
                font-family: 'ItauText';
            }
            .radio{
                margin-left: 33%;
                color: $gray-800;
                margin-top: 15px;
            }
            .icon_check{
                margin-left: 5px;
                margin-top: 18px;
                color: $blue-sparkly;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 4px;
            }
            .column_rank{
                margin-left: 8%;
                .rank{
                    margin-left: 99px;
                }
                .sub_title{
                    font-size: 16px;
                    color:$gray-700;
                    font-weight: 400;
                    margin-top: 15px;
                    margin-bottom: 5px;
                    line-height: 20px;
                    text-align: justify;
                    font-family: "ItauText";
                }
            } 
            h4{
                font-size: 18px;
                color: $color-text;
                font-weight: bold;
                margin-top: 25px;
                margin-left: 25px;
                font-family: "ItauText";
                margin-bottom: 29px;
            }
        }
        .select-search__value{
            margin-bottom: 7px;
        }
        
    }
}

.tooltip-inner {
    max-width: 200px !important;
    font-size: 13px !important;
    padding: 14px 10px 11px 10px !important;
    color: #fff;
    text-align: left;
    background-color: #252220 !important;
    opacity: 0.8 !important;
    border-radius: 0.25rem;
  }
