
/*
	Tema: Itaú
	Componente: FormPlansHome
 */

 @import "@sass/variables";
 @import "@sass/fonts";
 
 /* Variables de estilo Tema Itaú */
 
 #main {
.safe_details{
    font-family: Arial !important;
    .safe_details_title{
        h5{
            font-size: 18px;
            color: $gray-700;
            margin: 21px 64px;
            font-weight: 400;
        }
        label{
            font-size: 14px;
            color:$gray-700;
            font-weight: 400;
            margin: 27px 0px 12px 12px;
        }
    }
    .pdf_links{
        color: $blue-sparkly;
        text-decoration: underline;
        font-size: 12px !important;
        font-weight: bold;
        vertical-align: middle;
        
        a {
            color: $blue-sparkly !important;
            position: absolute;
            text-decoration: underline;
            font-family: Arial;
        }
    }

    .icon_pdf{
        vertical-align: middle;
    }
    .safe_details_accordion{
        position: relative;
        margin: 9px 15% 0px 15%;
        border: 1px solid $gray-500;
        padding: 4px;
        color: $gray-920;
        label{
            margin: 12px 18px;;
            font-size: 14px;
            font-weight: 400;
        }
        
        .collapse{
            border-top: 1px solid $gray-300;    
            margin: 0px 3%;
        }

        .content_accordion_collapse{			
            padding: 20px;	
            span{
                font-size: 40px;
                color: $blue-sparkly
            }
            
        }

        .toggle_accordion{
            position: absolute;
            display: block;
            width: 100%;
            top: 42px;
            left: 26px;
        
            
            span{
                position: absolute;
                bottom: 4px;
                display: block;
                right: 70px;
                cursor: pointer;
                color: $orange;
                font-size: 14px;
                font-family: Arial;
                font-weight: 400;
            }			
        }
    }  
    //protección
        h6{
            font-size: 18px;
            color: #5A6978;
            font-weight: 400;
            line-height: 1.1;
            font-family: 'ItauText';
        }    
    }
} 