/*
	Tema: Itaú
	Componente: BoxDuo
*/

@import "@sass/variables";

/* Variables de estilo Tema Itaú */

.hide.toggle_accordion {
    height: 230px !important;
}

#main {

	& > div > .accordion{
		margin-bottom: 20px;
	}
	
	.accordion{
		background-color: $white;
		
		@each $name, $value in $colors {
			.#{$name} .title_accordion {
				border-top: 4px solid $value !important;
				border-radius: 10px;
			}
			
		}

		.box_accordion{
			padding-bottom: 45px;
			position: relative;
			overflow: hidden;
	
			.title_accordion {
				font-size: 18px;
				color: $color-text;
				padding: 20px;
				margin-bottom: -15px;
				font-family: 'ItauText';
				font-weight: 400;
			}

			.collapse{
				transition: all 0.3s ease-in-out;
				position: relative;

				&:not(.show){
					display: block;
					height: 376px;
				}

				&.show{
					z-index: 999;
				}
			}
			#blue-sparkly.collapse{
				transition: all 0.3s ease-in-out;
				position: relative;

				&:not(.show){
					display: block;
					height: 150px;
				}

				&.show{
					z-index: 999;
				}
			}
			//acordeon hogar verde
			div#green\ hogar {
				transition: all 0.3s ease-in-out;
				position: relative;

				&:not(.show){
					display: block;
					height: 226px;
				}

				&.show{
					z-index: 999;
				}
				
			}
			//acordeon hogar rojo
			div#red\ hogar {
				transition: all 0.3s ease-in-out;
				position: relative;

				&:not(.show){
					display: block;
					height: 226px;
				}

				&.show{
					z-index: 999;
				}
				
			}
			//acordeon hogar azul
			div#blue-sparkly\ hogar.collapse {
				transition: all 0.3s ease-in-out;
				position: relative;

				&:not(.show){
					display: block;
					height: 144px;
				}

				&.show{
					z-index: 999;
				}
			}

			.content_accordion {
				color: $color-text;
				overflow: hidden;
                height: 149px;
				font-size: 14px;
				color: $gray-600;
				padding: 20px;
		
				td{
					line-height: 20px;
					padding: 0 20px;
					text-align: justify;
					vertical-align: top;
					width: 50%;
					
				}

				span{
					font-weight: bold;
					color: $gray-600;
				}
				
				a{
					color: $blue-sparkly;
					text-decoration: underline;
				}

				
			}

			.content_accordion_collapse{
				
				font-size: 14px;
				color: #5A6978;
				padding: 20px;
				
				span{
					font-weight: bold;
					//color: $gray-p;
				}
				
				a{
					color: $blue-sparkly;
					text-decoration: underline;
				}
				.column-list{
					padding-left: 37px;
				}
			}

			.toggle_accordion{
				position: absolute;
				display: block;
				width: 100%;
				height: 50%;
				background: rgb(255,255,255);
				background: linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 35%);
				z-index: 1;
				bottom: 0;
				font-size: 13px;
				color: $blue-sparkly;
				padding: 10px;

				span{
					position: absolute;
					bottom: 10px;
					display: block;
					right: 45px;
					cursor: pointer;
					text-decoration: underline;
					font-family: Arial;
				}

				&.show:after{
					transform: rotate(224deg) skew(-8deg, -8deg) ;
					bottom: 12px;
				}

				&:after{
					content: "";
					display: block;
					position: absolute;
					bottom: 18px;
					right: 20px;
					width: 12px;
					height: 12px;
					border-right: 1px solid $blue-sparkly;
					border-bottom: 1px solid $blue-sparkly;
					transform: rotate(45deg) skew(-8deg, -8deg);
					transition: all 0.3s ease-in-out;
				}
				
			}
		}
		
	}
}