/*
	Tema: Itaú
	Componente: BoxColumns
*/

@import "@sass/variables";

/* Variables de estilo Tema Itaú */

#main {
	.box_columns{
		margin-bottom: 20px;

		&.padding-sm{
			padding: 0px 10px;

			div[class*="col-md-"]{
				padding-left: 5px;
	        	padding-right: 5px;
	    	}
		}
	}
}