/*
	Tema: Itaú
	Componente: BoxPlan
*/

@import "@sass/variables";
@import "@sass/fonts";
@import "@sass/icons";
/* Variables de estilo Tema Itaú */

#main {
    .box_plan{ 
        background-color: transparent;
        padding-top: 10px; 
        @each $name, $value in $colors {
            .#{$name}.box_plan_content_next {
                border-radius: 20px;
                height: 38rem;
            }
        }
        .border-hover-box{
            border-top: 4px solid $orange !important;
            border-radius: 20px;
            height: 2rem;
            min-width: 100%;
            position: absolute;      
        }
        
        .column_plans{
            padding: 0px;
        }
        .box_plan_content{
            border-radius: 20px;
            height: 38rem;
        }
        .title{
            font-size: 13px !important;
        }
        .plan_title{
            text-align: center;
            .plan_name{
                color: #42484C;
                font-size: 24px;
                font-weight: bolder !important;
                text-transform: capitalize;
                margin-bottom: 0px;
                margin-top: 15px;
                font-family: 'ItauText';
            }
            label{
                font-size: 14px;
                color: #5A6978 !important;
                margin-bottom: 0px;
                font-weight: lighter;
                font-family: 'ItauText';
                font-weight: 300;
            }
            .prima_clp{
                font-size: 21px;
                font-weight: bold;
                color: #ec7000;
                margin: 0px;
                font-family: 'ItauText';
                text-align: center;
            }
            .prima_uf{
                font-size: 14px;
                color: #747F90;
                margin: 0px;
                text-align: center;
                font-weight: 400;
                font-family: 'ItauText';
            }
        }
        .plan_content{

                label{
                    margin-left: 26px;
                    font-size: 13px;
                    color: #42484C;
                    font-weight: 400;
                }
                ul{
                    list-style:none;
                }
                li{
                    font-size: 13px !important;
                    line-height: 13px;
                    margin: 0px 25px 20px 0px;
                    color: $gray-670;
                    font-weight: 400;
                    font-family: 'ItauText';
                    line-height: 17px;
                    b{
                        font-size: 16px;
                        color: #747F90;
                        line-height: 20px;
                        font-weight: bold;
                    }
                }
                li::before{
                    content:"✓";
                    position: absolute;
                    left: 30px;
                    color:$orange;
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: 3px;
                
            }
            
        }
        .plan_button{
            .btn_plan{
                width: 50%;
                margin-left: 25%;
                margin-bottom: 18px;
                margin-top: 10px;
                font-size: 14px;
                font-family: Arial;
                font-weight: 400;
            }
            
        }
        .plan_url{
            text-align: center;
            a{
            color: #005D95;
            font-size: 14px;
            text-decoration: underline;
            cursor: pointer;
            font-family: Arial;
            font-weight: 400;
            }
            
        }
        .icon{
            color: $blue-sparkly;
            font-size: 16px;
            margin-left: 3px;
        }
        .check_terms{
            .radio{
                padding: 20px 70px;
                margin-top: 2px;
                label{
                    font-size: 14px;
                    color: #42484C;
                    font-weight: 400;
                    font-family: 'ItauText';
                }
            }
            
        }      
    }
    .tooltip-inner {
        max-width: 200px !important;
        font-size: 13px !important;
        padding: 14px 10px 11px 10px !important;
        color: #fff;
        text-align: left;
        background-color: #252220 !important;
        opacity: 0.8 !important;
        border-radius: 0.25rem;
      }
}
