/*
	Tema: Itaú
	Componente: BoxUf
*/

/* Variables de estilo Tema Itaú */

#main {

    .box_uf {
        height: 100%;
        display: flex;
        margin-bottom: 15px;
        border: 1px solid $gray-200;
        background: $white;
        
        .box_uf_product_title {
            position: relative;
            color: $orange;
            top: -15px; /* ajustar los valores para mover la imagen */
            left: 15px;
            width: 15px;
            height: 15px;

            i {
                position: absolute;
                top: 35px;
                left: 12px;
                font-size: 40px;
            }

            p {
                font-size: 18px;
                padding: 30px 10px 10px 46px;
                color: $color-text;
            }

        }

        .box_uf_product_content{
            padding: 20px 5px 5px 5px;

            .box_uf_product_content_title{
                h6{
                    margin: 0px;
                    color:$color-text;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .box_uf_product_content_subtitle{
                color: $color-subtitle;
                font-size: 14px;
                margin-bottom: 9px;
            }

        }
        
        .box_uf_value {
            text-align: right;
            font-size: 24px;
            font-weight: 700;
            margin: auto 0;
            color: $orange;
            padding: 0px 17px 0px 0px;
            margin-bottom: 19px;
        }
    }
}