/*
    Tema: Itaú
    Componente: BoxResume
 */
 @import "@sass/variables";
 @import "@sass/fonts";
 
 /* Variables de estilo Tema Itaú */
 
 #main {
    .box_resume{
        border-radius: 10px;
        position: relative;
        margin-bottom: 12px;
        padding-left: 15px;
        //cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .box_resume_title{
            h6{
                font-size: 18px;
                color:$gray-700;
                text-align: left;
                margin-right: 40px;
                font-family: 'ItauText';
            }
            .icon{
                background-color: #E5EDF4;
                    border-radius: 100px;
                    position: absolute;
                    right: 12px;
                    top: 10px;
                i{
                    margin: 5px;
                    font-size: 27px;
                    color: #1F4469;
                }
            }
            
        }

        .box_resume_container{
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
        }
        .box_resume_content{
            color: $gray-650;
            
            p{
                font-family: 'ItauText';
                font-size: 14px;
                text-transform: capitalize;
                color: $gray-650;
                margin: 0;
                
                .email{
                    font-size: 14px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: -14px;
                }
            }
            .email_resume{
                text-transform: lowercase;
                
            }
        }
    }

    .container_box_resume {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    
 }