/*
	Tema: Itaú
	Componente: BoxError
*/

@import "@sass/variables";
@import "@sass/fonts";
/* Variables de estilo Tema Itaú */

#main {
    .box_error{
        margin-top: 15px;
        padding: 35px;
        font-family: $font-family-base;
        margin-bottom: 20px;
        border: 1px solid $gray-200;
        background-color: $white;

        .icon{
            font-size: 62px;
            color: #433F37;
        }

        .title_error{
            padding-top: 15px;

            h6{
                color: #007AB7;
                font-family: Arial;
                margin: 0px 33%;
                font-weight: bold;
                font-size: 18px;
            }
        }
        .title-yellow{
            padding-top: 15px;
            color:#F7B500;
            font-size: 18px;
            font-weight: 700;
        }
        .content_error{
            
            color: #4D5256;
            font-size: 14px;
            padding-top: 10px;
            margin: 0px 27%;
            font-weight: 400;
            font-family: Arial;

            span{
                font-weight: bold;
            }
        }
        .title_error_statament{
            color: $blue-sparkly;
            font-size: 18px;
        }
        .content_error_proteccion{
            color: #4D5256;
            font-size: 14px;
            padding-top: 10px;
            font-weight: 400;
            font-family: Arial;
        }
        .box_error_button{
            padding-bottom: 10px;
            min-height: 30px;
            
            
            .btn {
                background-color: $white;
                border-color: $gray-200;
                color: $blue-sparkly;
                font-size: 14px;
                font-family: Arial;
                width: 22%;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}