/*
	Tema: Itaú
	Componente: BoxDetailPlan
*/
@import "@sass/variables";
/* Variables de estilo Tema Itaú */

p.content_parenthesis {
    font-size: 14px;
}

#main {
    .box_detail_plan{
        margin-bottom: 0px;

        .row-inner{
            padding: 14px;
          
            .box_detail_plan_container{
                background-color: $white;
                border: 1px solid $color-border;
                
                .car_title{
                    color: $orange;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-size: 17px;
                    font-weight: bold;
                }
    
                .title_text{
                    margin-bottom: 5px;
                    text-align: left;
                    font-size: 13px;
                    color: $gray-700;
                    font-weight: 400;
                    text-transform: lowercase;
                    &:first-letter {
                        text-transform: uppercase;
                    }
                }
                .title_text_plan{
                    margin-bottom: 5px;
                    text-align: left;
                    font-size: 13px;
                    color: $gray-700;
                    font-weight: 400;
                    text-transform: capitalize;
                }
                .content_text{
                    text-align: left;
                    font-size: 14px;
                    color: $gray-700;
                    font-weight: bold;
                    text-transform: capitalize;
                }
                .content_text_patent{
                    text-transform: uppercase;
                    text-align: left;
                    margin-bottom: 5px;
                    font-size: 16px;
                    color: $gray-700;
                    font-weight: bold;
                }
                .content_text_replacement_car{
                    text-align: left;
                    margin-bottom: 5px;
                    font-size: 16px;
                    color: $gray-700;
                    font-weight: bold;
                    text-transform: lowercase;
                    &:first-letter {
                        text-transform: uppercase;
                    }
                }
                .content_parenthesis{
                    color: $gray-700;
                    margin-left: 2px;
                }
                .row_column{
                    margin-left: 0px;
                }
            }
        }
        
    } 
}