/*
	Tema: Itaú
	Componente: NotificationBox
 */

@import "../variables";

/* Variables de estilo Tema Itaú */

#main {
    
    .box_notification {
        background: $white linear-gradient(0deg, #d4eaff85 0, $white 65%);
        margin-bottom: 20px;
        padding: 10px 5px;

        .row-inner {
            
            padding: 15px 0 15px 20px;
            margin: -2px;
            border-width: 1px;
            padding-right: 5px;

            .notification_box_icon_active {
                width: auto;
                position: absolute;
                color: $color-icon;
                top: 0px;
                left: 5px;
                padding: 6px 7px 3px 8px;
                border-radius: 50%;
                background-color: $gray-200;

                i{
                    font-size: 22px;
                }
            }

            .notification_box_icon {
                width: auto;
                position: absolute;
                top: 3px;
                left: 9px;

                i{
                    font-size: 32px;
                }
            }

            p {
                padding: 10px 15px 5px 40px;
                font-size: 14px;
                color: $gray-800;
                margin: 0px;

                &.section{
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            .btn {
                min-width: 135px;
                background: $white;
                color: $blue-sparkly;
                border-color: $gray-200;
                padding-right: 35px;
                padding-left: 35px;
                font-family: Arial;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}
