@import "@sass/variables";
@import "@sass/fonts";
#main {

    .step_title{
        border-color: $gray-400;
        padding: 1% 0 0% 39px;
        margin-top: 15px;
        .icon_data{
            border: solid;
            border-width: 1px;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            border: none;
            background-color: $amber;
        }       
        .num_data{
            position: absolute;
            margin-left: 10px;
            margin-top: 3px;
            color:$gray-050;
            font-weight: bold;
            font-size: 17px;
        }
        .box_step_title_check{
            color: $gray-700; 
            p{
                margin: 4px 16px 0px;
                font-size: 18px;
                font-weight: 700;
                font-family: 'ItauText';
            }
        }        
    }   
}