/*
    Tema: Itaú
    Componente: BoxInformation
 */

 @import "@sass/variables";
 @import "@sass/fonts";

 /* Variables de estilo Tema Itaú */
 
 #main {
    .box_information 
    {
        margin-bottom: 12px;
        font-family: ItauText;
        margin-right: 9px;
        margin-left: 9px;
        font-family: $font-family-base;

        .box_information_title {
                
            h3{
                text-align: center;
                font-size: 22px;
                color: $gray-700;
                font-weight: bold;
                margin-bottom: 0px;
            }
            p{
                text-align: center;
                font-size: 16px;
                color: $gray-700;
                font-family: arial;
            }
                
            
        }
        
        .box_icon{
            border: solid #DFE6EE 1px;
            padding: 5px;
            background: $white;

            h4{
                font-size: 13px;
            }

            .box_icon_content{
                font-size: 11px;
                min-height: 55px;
                color: #7C8698;
            }
        }
    }
    
 }