/*
    Tema: Itaú
    Componente: FormResume
 */

 @import "@sass/variables";
 @import "@sass/fonts";

 /* Variables de estilo Tema Itaú */
 
 #main {
    .form_resume{
        padding-top: 33px;
        padding-left: 49px;
        margin-bottom: 18px;
        .form_resume_title{
            .icon_data{
                background-color:$amber;
                border-radius: 100%;
                width: 32px;
                height: 32px;
                margin-right: 7px;
                margin-left: -12px;   
            }
            .num_data{
                position: absolute;
                margin-top: 6px;
                color:$gray-050;
                font-weight: bold;
                font-family: Arial;
            }
            .title{
                font-weight: bold;
                color: $gray-700;
                font-size: 18px;
                margin-left: 7px;
                margin-top: 10px;
                font-family: 'ItauText';
                &:first-letter {
                    text-transform: uppercase;
                }
                span{
                    text-transform: capitalize;
                }
            }
        }
        .form_resume_content{
            padding: 10px;
            
            @each $name, $value in $colors {
                .#{$name}.form_resume_box {
                    border-top: 4px solid $value !important;
                    border-radius: 20px;
                    padding: 23px 50px 25px 26px;
                }
            }
            .plan_title{
                color: $gray-700;
                font-size: 16px;
                font-family: 'ItauText';
                margin-bottom: 0px !important;
            }
            .plan_prima{
                font-size: 28px;
                font-weight: 400;
                color: #EC7000;
                margin-bottom: 0px;
                font-family: 'ItauText';
            }
            .plan_prima_uf{
                font-size: 16px;
                color: $orange;
                font-weight: 400;
                font-family: 'ItauText';
                line-height: 1.5;
            
            }

            .plan_text_resume{
                font-weight: bold;
                font-size: 14px;
                margin-bottom: 10px;
                font-family: 'ItauText';
                color: #677484;
            }
            .content{
                font-family: 'ItauText';
                label{
                    font-size: 13px;
                    font-weight: bold;
                    color: $gray-700;
                }
                li{
                    font-size: 14px;
                    color: $gray-700;
                    b{
                        color: $gray-700;
                    }
                }
            }
        } 
        .form_resume_footer{
            font-family: Arial;
            label{
                font-size: 14px;
                color:$gray-700;
                font-weight: 400;
                margin: 27px 0px 12px 12px;
            }

            .info-text{
                color: #5A6978;
                font-size: 16px;
            }

            .pdf_links{
                color: $blue-sparkly;
                text-decoration: underline;
                font-size: 12px !important;
                font-weight: bold;
                vertical-align: middle;
                
                a {
                    color: $blue-sparkly !important;
                    position: absolute;
                    text-decoration: underline;
                }
            }

            .icon_pdf{
                vertical-align: middle;
                
            }
            .form_resume_check{
                margin: 38px 0px 24px 31px;
                .form_check_input{
                    margin-top: 2px;
                }
                .form_check_text{
                    font-size: 14px;
                    color: $gray-700;
                    margin-left: 10px;
                    font-family: 'ItauText';
                }

                .errorMsje {
                    color: $danger;
                    font-size: 10px; 
                }
            }
            .form_resume_buttons{
                padding: 0px 50px 11px 50px;
                text-align: right;

                .button_footer_back{
                    border-color: $gray-300;
                    background-color: $white;
                    color: $blue-sparkly;
                    margin: 7px;
                    width: 19%;
                    text-align: center;
                }
                .button_footer_disable{
                    border-color: $gray-300;
                    background-color: $amber;
                    color: $white;
                    cursor: default;
                    width: 148px;
                    height: 40px;
                    opacity: 0.5;
                    margin: 7px;
                    text-align: center;
                }
                .button_footer_next{
                    border-color: $gray-300;
                    background-color: $amber;
                    color: $white;
                    margin: 7px;
                    width: 148px;
                    height: 40px;
                    text-align: center;
                }
            }
            .form_resume_accordion{
                position: relative;
                margin: 9px 20% 0px 10%;
                border: 1px solid $gray-500;
                padding: 4px;
                label{
                    margin: 17px 18px;
                    font-size: 14px;
                    color: #43484C;
                }
                .collapse{
                    border-top: 1px solid #B4B4B4;    
                    margin: 0px 3%;
                }

                .content_accordion_collapse{			
                    padding: 20px;	
                    span{
                        font-size: 40px;
                        color: $blue-sparkly;
                        font-family: Arial;
                    }
                }

                .toggle_accordion{
                    position: absolute;
                    display: block;
                    width: 100%;
                    left: 26px;
                    height: 0 !important;
                }
                .btn-right{
                    margin-left: 92px;
                    background: none;
                    color: #EC7000;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;
                    font-size: 14px;
                    font-family: Arial;
                }                
	
            }    
        }   
    }  
 }