/*
	Tema: Itaú
	Componente: InformationProduct
 */

 @import "@sass/variables";
 @import "@sass/fonts";
 
 /* Variables de estilo Tema Itaú */
 
 #main {
    .information_product{

        font-family: $font-family-base;
        padding: 5px 0px 0px 10px;
        margin-right: 20px;
        .icon{ 
            text-align: center;
            color: $orange;
            
            i{
	            position: relative;
                font-size: 30px;
            }
        }
        .information_product_title {
            
            h3{
                text-align: center;
                min-height: 10px;
                font-size: 14px;
                color: $color-text;
                font-weight: bold;
            }
        }

        .information_product_content{
            
            p{
                text-align: center;
                font-size: 13px;
                color: $gray-600;
            }
        }
    }
}