/*
    Tema: Itaú
    Componente: InfoLegal
 */
 @import "@sass/variables";
 @import "@sass/fonts";
 
 /* Variables de estilo Tema Itaú */
 
 #main {
     .legal_info{
        padding: 28px;
        text-align: justify;

        .alert{
            border-color: $blue-sparkly;
            border-radius: 22px;
            padding: 25px 0px 4px 20px;
            background-color: $blue-light;
            line-height: 17.5px;
        }
        .legal_info_title{
            
            h6{
                font-size: 14px;
                font-weight: bold;
                color: #5A6978;
                min-height: 29px;
                padding: 1px 0px 0px 16px;
                font-family: Arial;
            }
            
        }
        .legal_info_sub_title{
            display: flex;
            margin-left: 27px;
            i{
                font-size: 27px;
                color: $blue-sparkly;
                margin-top: -8px;
            }
            h6{
                font-size: 14px;
                color: #5A6978;
                min-height: 23px;
                font-family: Arial;
            }
            span{
                font-weight: bold;
                color: $blue-sparkly;
            }
            
        }
        .legal_info_content{
            font-size: 14px;
            margin-left: 27px;
            margin-right: 27px;

            a{
                color: #007AB7;
                text-decoration: underline;
                cursor: pointer;
            }
            li{
                color: $color-text;
                font-size: 14px;
                padding-right: 30px;
                font-family: Arial;
                font-weight: 400;
            }
        }
    }
}