@import "@sass/variables";
@import "@sass/fonts";
  /* tables */
  .style1{
    border: 1px $gray-300 solid;
    border-radius: 8px;
   
    table{
        border-radius: 8px;
        overflow: hidden;
        font-family:  $font-family-base;
        width: 100%;
        tr{
            text-align: center;

            &:nth-child(odd){
                background-color: $gray-050;
            }

            td{
                &:nth-child(1){
                    text-align: left;
                }

                font-size: 14px;
                padding: 15px !important;
                border-left: 1px  $gray-300 solid;
                color: #5A6978;
                font-family:'ItauText';
                .circle {
                    font-size: 14px;
                    font-weight: 400;
                    color: #5A6978;
                    font-family:"arial";}
            }
          
            th{
                border: 1px  $gray-300  solid;
                background-color: $orange;
                text-align: center;
                font-weight: bold;
                padding: 15px 0px;
                color:#FFFFFF;
                font-size: 14px;
                font-family:'ItauText';
            }
        }
        .trr{
            text-align: center;

            &:nth-child(odd){
                background-color: $gray-050;
            }

            td{
                &:nth-child(1){
                    text-align: left;
                }

                font-size: 14px;
                padding: 4px !important;
                border-left: 1px  $gray-300 solid;
                color: #5A6978;
                font-family:ItauText;
                .circle {
                    font-size: 14px;
                    font-weight: 400;
                    color: #5A6978;
                    font-family:"arial";}
            }
          
            th{
                border: 1px  $gray-300  solid;
                background-color: $orange;
                text-align: center;
                font-weight: bold;
                padding: 15px 0px;
                color:#FFFFFF;
                font-size: 14px;
                font-family:ItauText;
            }
        }        
    }
}
.list-orange{
    list-style: none;
    padding-left: 10px;

    li{
        margin-bottom: 10px;
        font-size: 14px;
        position: relative;
    }

    li:before{
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background: $orange;
        position: absolute;
        top: 6px;
        left: -10px;
        border-radius: 50%;
    }
    &.check{
        padding-left: 15px;
        li{
            font-size: 13px;
            text-align: left;
            color:  #5A6978;
            font-family:ItauText;
            font-weight: lighter;
            b{
                font-family:ItauText;
                color:  #5A6978;
                font-size: 16px;
                font-weight: bold;
            }
        }
        li:before{
            content: "✓ ";
            font-family: "itaufonts_master_24px_v1" !important;
            speak: none;
            font-style: normal;
            font-weight: bold;
            font-feature-settings: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            letter-spacing: 0;
            color: #EC7000;
            width: auto;
            height: auto;
            font-size: 15px;
            background: transparent;
            top: 3px;
            left: -18px;
            border-radius: unset;
        }
        .li:before{
            content: "✗";
            font-family: "itaufonts_master_24px_v1" !important;
            speak: none;
            font-style: normal;
            font-weight: bold;
            font-feature-settings: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            letter-spacing: 0;
            color: #EC7000;
            width: auto;
            height: auto;
            font-size: 15px;
            background: transparent;
            top: 3px;
            left: -18px;
            border-radius: unset;
        }
    }
}