/*
	Tema: Itaú
	Componente: BoxError
*/

@import "@sass/variables";
@import "@sass/fonts";
/* Variables de estilo Tema Itaú */

#main {
    .eliminacion{
        margin-top: 15px;
        padding: 35px;
        font-family: $font-family-base;
        margin-bottom: 20px;
        border: 1px solid $gray-200;
        background-color: $white;

        .icon{
            font-size: 62px;
        }

        .title_eliminacion{
            padding-top: 15px;

            h6{
                position: relative;
                font-size: 18px;
                font-weight: bold;
                
            }
        }
        .content_eliminacion{
            color: $gray-800;
            font-size: 13px;
            padding-top: 10px;
            h4{
                margin: 0px 15%; 
            }
           

            span{
                font-weight: bold;
            }

        }
        .box_eliminacion_button{
            padding-bottom: 10px;
            min-height: 30px;
            
            .btn {
                background-color: $white;
                border-color: $gray-200;
                color: $blue-sparkly;
                font-size: 15px;
            }
        }
    }
}