/*
	Tema: Itaú
	Componente: BoxError
*/

@import "@sass/variables";
@import "@sass/fonts";
/* Variables de estilo Tema Itaú */

#main {
    .informacion{
        margin-top: 15px;
        padding: 35px;
        font-family: $font-family-base;
        margin-bottom: 20px;
        border: 1px solid $gray-200;
        background-color: $white;

        .icon{
            font-size: 62px;
        }

        .title_informacion{
            padding-top: 18px;
            color: $light-yellow;
            font-weight: bold;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;

            h6{
                position: relative;
                font-size: 18px;
                font-weight: bold;
            }
        }
        .content_informacion{
            color: #4D5256;
            font-size: 14px;
            padding-top: 10px;
            margin-bottom: 15px;

            span{
                font-weight: bold;
            }

        }
        .informacion_button{
            padding-bottom: 10px;
            min-height: 30px;
            
            .btn {
                background-color: $white;
                border-color: $gray-200;
                color: $blue-sparkly;
                font-size: 15px;
            }
        }

        .button-info{
            background-color: $white;
            color:$blue-sparkly;
            border: 1px solid #dee2e6;
        }

    }
}