@font-face{
    //ItauText-Light
	font-family: 'ItauText'; 
	src: url(../fonts/ItauText-Light.eot); 
	src: url(../fonts/ItauText-Light.eot) format("embedded-opentype"), 
	url(../fonts/ItauText-Light.woff2) format("woff2"), 
	url(../fonts/ItauText-Light.ttf) format("truetype"), 
	url(../fonts/ItauText-Light.woff) format("woff"), 
	url(../fonts/ItauText-Light.svg) format("svg"); 
    font-weight: 200; 
}
@font-face{
    //ItauText-Regular
    font-family: 'ItauText'; 
	src: url(../fonts/ItauText-Regular.eot); 
	src: url(../fonts/ItauText-Regular.eot) format("embedded-opentype"), 
	url(../fonts/ItauText-Regular.woff2) format("woff2"), 
	url(../fonts/ItauText-Regular.ttf) format("truetype"), 
	url(../fonts/ItauText-Regular.woff) format("woff"), 
	url(../fonts/ItauText-Regular.svg) format("svg"); 
    font-weight: normal; 
}
@font-face { 
    //itauText-Bold
	font-family: 'ItauText'; 
	src: url(../fonts/ItauText-Bold.eot); 
	src: url(../fonts/ItauText-Bold.eot) format("embedded-opentype"), 
	url(../fonts/ItauText-Bold.woff2) format("woff2"), 
	url(../fonts/ItauText-Bold.ttf) format("truetype"), 
	url(../fonts/ItauText-Bold.woff) format("woff"), 
	url(../fonts/ItauText-Bold.svg) format("svg"); 
    font-weight: 700;  
}
@font-face{
    //ItauText-Xbold
    font-family: 'ItauText'; 
    src: url(../fonts/ItauText-XBold.eot); 
    src: url(../fonts/ItauText-XBold.eot) format("embedded-opentype"), 
    url(../fonts/ItauText-XBold.woff2) format("woff2"), 
    url(../fonts/ItauText-XBold.ttf) format("truetype"), 
    url(../fonts/ItauText-XBold.woff) format("woff"), 
    url(../fonts/ItauText-XBold.svg) format("svg"); 
    font-weight: 900; 
}
