/*
	Tema: Itaú
	Archivo de estilos para formularios
 */

/* Formulario */


/* Select */
#main {
	.form-control{
		border-radius: 1px;
		width: 99%;
		color: #4A4F53;
		&.form-control::placeholder{
			font-size: 16px;
			color: #BFBFBF !important ;
			opacity: 1;
			font-style: oblique;
			font-family: Arial;	
		}
	}
	ul.select-search__options {
		margin-bottom: 0px;
	}
	.label-title{
		font-size: 14px;
		color: #546576;
	}

	.banner_top_image_content_footer {
		margin-top: 15px !important;
	}

	.colradiobutton{
		margin-bottom: 10px;
	}

	.input-group-text{
		border-radius: 1px;
		background-color: #fafbfc;
		color: $gray-500;
	}

	input[type='radio']:checked:after {
		width: 8px;
		height: 8px;
		border-radius: 6px;
		left: 3px;
		position: absolute;
		background-color: white;
		box-shadow: 0 0 0 4px #ec7000;
		content: "";
		display: inline-block;
		visibility: visible;
		bottom: 2px;
    }

	span.icon_fecha.icon-itaufonts_calendario {
		position: absolute;
		right: 10%;
		font-size: 1.5rem;
		top: 30%;
	}
	/* Select */
	.select-box {
	    overflow: hidden;
	    position: relative;
	    color: $color-text;
	    background-color: $white;
	    background-clip: padding-box;
	    border: 2px solid $gray-600;
	    border-radius: 100px;
	    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	   

		select {
			border: 0px;
		    width: 120%;
		    position: relative;
		    background: $white;
		    padding: 10px;
		}
	}

	input.select-search__input::placeholder{
		font-size: 16px;
		color: #BFBFBF;
		opacity: 1;
			
		
	}
	
	.select-search {
	    position: relative;
	    font-family: $font-family-base;
	    box-sizing: border-box;

	    .select-search *,
		.select-search *::after,
		.select-search *::before {
		    box-sizing: inherit;
		}
		

		.select-search__value {
		    position: relative;

		    &::after {
			    content: '';
			    display: inline-block;
			    position: absolute;
			    top: calc(50% - 9px);
			    right: 19px;
			    width: 11px;
			    height: 11px;     

			}
		}
		

		
		
		.select-search__input {
		    display: block;
		    height: 36px;
		    width: 100%;
		    padding: 0 40px 0 16px;
		    background: #fff;
		    border: 1px solid #ced4da;
		    box-shadow: none;
			font-family:  Arial;
		    border-radius: 1px;
		    outline: none;
		    font-size: 14px;
		    text-align: left;
		    text-overflow: ellipsis;
		    line-height: 36px;
		    -webkit-appearance: none;
			color: #43484c;

		    &::-webkit-search-decoration,
			&::-webkit-search-cancel-button,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration {
		    	-webkit-appearance:none;
			}

			&:not([readonly]):focus {
			    cursor: initial;
			}
			   
		}

		.select-search__select {
		    background: $white;
		}

		.select-search__options {
		    list-style: none;
		    padding: 0;
		}

		.select-search__row:not(:first-child) {
		    border-top: 1px solid #eee;
		}

		.select-search__option,
		.select-search__not-found {
		    display: block;
		    height: 36px;
		    width: 100%;
		    padding: 0 16px;
		    background: #fff;
		    border: none;
		    outline: none;
		    font-family:  $font-family-base;
		    font-size: 14px;
		    text-align: left;
		    cursor: pointer;
			color: #43484c;
		}

		.select-search--multiple .select-search__option {
		    height: 48px;
		}

		.select-search__option.is-selected {
		    background: $orange;
		    color: #fff;
		}

		.select-search__option.is-highlighted,
		.select-search__option:not(.is-selected):hover {
		    background: rgba(204, 141, 47, 0.1);
		}

		.select-search__option.is-highlighted.is-selected,
		.select-search__option.is-selected:hover {
		    background: $orange;
		    color: #fff;
		}

		.select-search__group-header {
		    font-size: 10px;
		    text-transform: uppercase;
		    background: #eee;
		    padding: 8px 16px;
		}

		.select-search.is-disabled {
		    opacity: 0.5;
		}

		.select-search.is-loading .select-search__value::after {
		    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
		    background-size: 11px;
		  
		}

		.select-search:not(.is-disabled) .select-search__input {
		    cursor: pointer;
		}

		.select-search--multiple {
		    border-radius: 3px;
		    overflow: hidden;
		}

		.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
		    transform: rotate(45deg);
		    border-right: 1px solid $orange;
		    border-bottom: 1px solid $orange;
		    pointer-events: none;
		}

		.select-search--multiple .select-search__input {
		    cursor: initial;
		}

		.select-search--multiple .select-search__input {
		    border-radius: 3px 3px 0 0;
		}

		.select-search--multiple:not(.select-search--search) .select-search__input {
		    cursor: default;
		}

		.select-search:not(.select-search--multiple) .select-search__input:hover {
		    border-color: 1px solid $orange;
		}

		.select-search:not(.select-search--multiple) .select-search__select {
		    position: absolute;
		    z-index: 2;
		    top: 44px;
		    right: 0;
		    left: 0;
		    border-radius: 3px;
		    overflow: auto;
		    max-height: 360px;
		}

		.select-search--multiple .select-search__select {
		    position: relative;
		    overflow: auto;
		    max-height: 260px;
		    border-top: 1px solid $color-border;
		    border-radius: 0 0 3px 3px;
		}

		.select-search__not-found {
		    height: auto;
		    padding: 16px;
		    text-align: center;
		    color: $color-text;
		}
	}

	#marca .select-search__select{
		max-height: 14rem !important;
	}
	#modelo .select-search__select{
		max-height: 14rem !important;
	}
	
	//checkbox-style
	/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
	  
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 18px;
	width: 18px;
	margin-left: 13px;
	background-color: #eee;
	background-color: $white;
    border-radius: 15%;
    border: 1px solid $gray-500;
  }
  
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
	font-size: 23px;
	background-color: $orange;
	font-weight: 400;
	border-radius: 4px;
	border-color: $orange;
  }
  .fade.show.tooltip.bs-tooltip-bottom {
    transform: translate(265px, 1017px) !important;
}

  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
	left: 6px;
	top: 1px;
	width: 5px;
	height: 11px;
	border: solid white;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

}